In [4]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Set Operation").getOrCreate()

In [8]:
master_df = spark.read.csv("C:\\Users\\admin\\Desktop\\Book1.csv",header=True)

In [9]:
master_df.show()

+-------+------------+------+
|Roll_no|Student_name|Mobile|
+-------+------------+------+
|   1001|       Akash|123456|
|   1002|         Anu|903675|
|   1003|     Prakash| 23456|
|   1004|        Mani|337456|
|   1005|        Manu|820456|
|   1006|      Magesh|987456|
|   1007|        Balu|654321|
|   1008|      Barath|765456|
|   1009|     Patrick| 98765|
+-------+------------+------+

In [15]:
daily_df = spark.read.csv("C://Users//admin//Desktop/Book2.csv",header=True)
daily_df.show()

+-------+------------+------+
|Roll_no|Student_name|Mobile|
+-------+------------+------+
|   1001|       Akash|123456|
|   1002|         Anu|903675|
|   1003|     Prakash| 23456|
|   1004|        Mani|337456|
|   1008|      Barath|765456|
|   1009|     Patrick| 98765|
+-------+------------+------+

In [11]:
# it has been giving mathing records from the both dataframes
master_df.intersect(daily_df).show()

+-------+------------+------+
|Roll_no|Student_name|Mobile|
+-------+------------+------+
|   1002|         Anu|903675|
|   1004|        Mani|337456|
|   1009|     Patrick| 98765|
|   1003|     Prakash| 23456|
|   1008|      Barath|765456|
|   1001|       Akash|123456|
+-------+------------+------+

In [14]:

# it has been giving non-matching records from the both dataframes
master_df.exceptAll(daily_df).show()

+-------+------------+------+
|Roll_no|Student_name|Mobile|
+-------+------------+------+
|   1005|        Manu|820456|
|   1006|      Magesh|987456|
|   1007|        Balu|654321|
+-------+------------+------+

In [21]:
# using the union
master_df.union(daily_df).show()

+-------+------------+------+
|Roll_no|Student_name|Mobile|
+-------+------------+------+
|   1001|       Akash|123456|
|   1002|         Anu|903675|
|   1003|     Prakash| 23456|
|   1004|        Mani|337456|
|   1005|        Manu|820456|
|   1006|      Magesh|987456|
|   1007|        Balu|654321|
|   1008|      Barath|765456|
|   1009|     Patrick| 98765|
|   1001|       Akash|123456|
|   1002|         Anu|903675|
|   1003|     Prakash| 23456|
|   1004|        Mani|337456|
|   1008|      Barath|765456|
|   1009|     Patrick| 98765|
+-------+------------+------+